.controls a{
    font-size: 13px;
    margin-left: 8px;
}

.delete-link{
    position: relative;
    top: 2px;
}

/*
.list-group-item {
    color: #333;
    background-color: #fff;
}
*/

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('http://localhost/todo_appka1/assets/fonts/glyphicons-halflings-regular.eot');
    src: url('http://localhost/todo_appka1/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://localhost/todo_appka1/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://localhost/todo_appka1/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://localhost/todo_appka1/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

